* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

p {
    color: red;
}